body{
    background-color: lightslategrey;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 170px;
}
#balk {
    background-color: rgb(42, 49, 50);
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%; 
}

.h1{
    font-size: 23px;
}

.h2{
  font-size: 6px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#container {
    display: flex;
    margin-top: 120px;
}

#bericht {
    width: 100%;
    height: 100%;
}
#plaatje {
    display: flex;
}
#plaatje2 {
    width: 20%;
    height: 100%;
    margin-bottom: 0px;
}
.tekst {
    background-color: rgb(42, 49, 50);
    border: 10px solid black;
    border-radius: 12px;
    width: 80%;
    margin: 10px;
    padding: 12px;
    margin-left: 60px;
}

.htmlbody {
    margin-top: 400px;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}