body{
    background-color: darkred;
    margin: 0px;
}
#balk {
    background-color: gray;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;

    
}

.balk .bannertekst{
    font-size: 23px;
    margin-top: 0px;
}

.h2{
  font-size: 6px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#container {
    display: flex;
    margin-top: 120px;
}

#bericht {
    background-color: darkred;
    width: 100%;
    height: 100%;  
    
}
#plaatje {
    background-color: black;
    display: flex;
}
#plaatje2 {
    width: 20%;
    height: 100%;
    margin-bottom: 0px;
}
.tekst {
    background-color: white;
    border: 10px solid black;
    border-radius: 12px;
    width: 80%;
    margin: 10px;
    padding: 12px;
    margin-left: 60px;
}

.htmlbody {
    margin-top: 400px;
}