html {
    height: 100%;
}

body {
    background-color: royalblue;
    height: 100%;
}

#balk {
    background-color: white;
    width: 69%;
    height: 15%;
}

#container {
    background-color: green;
    width: 60%;
    height: 30%;
}